@import "../../customSlider";
.button-telehealth{
    font-size: 14px;
    font-family: Arial;
    background-color: whitesmoke;
    border: 1.1px solid #9D7C2D;
    color: #9D7C2D;
    border-radius: 8px;
    padding: 8px 14px;
}